@-webkit-keyframes leaf5 {
	from {background:url('black/leaf5.svg')no-repeat;}
	to {background:url('color/leaf5.svg')no-repeat;}
}


.leaf5 {
	position: absolute;
	left: 70%;
	right: 7.86%;
	top: 0%;
	bottom: 81%;
	animation-name: leaf5;
	animation-duration: 1s;
  background:url('color/leaf5.svg') no-repeat;
  animation-play-state: paused;
}

.leaf5:hover{
	animation-name:leaf5 ;
	transition-property: all;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-play-state: running;}
}